* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(Assets/photo-1534438327276-14e5300c3a48.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header {
  text-align: center;
  margin-top: 150px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
}

.hero-text{
  font-size: 60px;
}
.side-logo{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.navlink{
  display: flex;
}
nav {
 padding: 1rem 2rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: fixed;
 width: 100%;
 top: 0;
 z-index: 1000;
  background-color: rgb(48, 62, 81);
}



li {
  float: left;
  text-align: center;
  
}

a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 14px, 16px;
  padding-left: 30px;
  margin-left: 30px;
}
.btn {
  border-radius: 30px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  color: white;
  background-color: rgb(81, 149, 209);
  border: none;
}

/* body {
  background-image: url(Assets/photo-1534438327276-14e5300c3a48.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.hero {
  text-align: center;
  margin-top: 15%;
}
nav {
  background-color: blue;
  padding: 15px;
}

nav ul {
  list-style-type: none;
  /* text-align: center; */

/* nav ul li {
  float: left;
}

nav ul li a {
  text-decoration: none;
  margin: 20px;
  color: white;
}
.hero-text{font-size: 80px;
    background: linear-gradient(to right, #2e6cff, #9d5bf4, #ef5a5a);
    color: none
    ;
  
}  */