* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
main {
  background-image: url(Assets/pexels-victorfreitas-841130.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  height: 700px;
  margin-top: 0;
  padding-top: 60px;
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;
}

header {
  text-align: center;
  margin: 100px;
  background-color: rgba(10, 10, 10, 0.9);
  padding: 10px;
  border-radius: 20px;
}
nav ul {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav li {
  list-style: none;
  color: white;
  margin: 20px;
}
nav li :hover {
  color: #98bd05;
}
.logo {
  margin-right: auto;
  font-weight: bolder;
  font-size: 20px;
  color: #AEDB01;
}
a {
  text-decoration: none;
  color: white;
}

.gradient {
  background: linear-gradient(to right, rgb(157, 172, 37),#AEDB01);
  color: transparent;
  background-clip: text;
  line-height: 1.3;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  font-weight: 800;
  font-size: 70px;
}
.btn {
  border-radius: 40px;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  color: white;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color:#98bd05;
  border: 2px solid white;
  font-size: 18px;
 
}
.btn:hover {
  background: linear-gradient(to bottom, #b8e016, rgb(33, 22, 22));
}

.box {
  margin: 10px auto;
  background-color: white;
  padding: 40px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
}
.mainbox {
  display: flex;
  margin-bottom: 30px;
}
#dumbbell {
  font-size: 40px;
  color: #AEDB01;

}
.classes {
  padding: 2 rem 2rem;
  background: rgba(174, 219, 1,0.02);
  height: 300px;
  margin-bottom: 70px;
  padding-bottom: 400px;
}
.classes-grid {
  display: grid;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 16px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  line-height: 40px;
}
.classes-card {
  background: rgba(174, 219, 1, 0.02);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.facilities {
  margin-bottom: 70px;
  padding: 0;
}
.membership {
  padding: 0;
  background-color: rgba(174, 219, 1,0.02);;
  padding-top: 60px;
  padding-bottom: 60px;
}

.membership-grid {
  display: grid;
  margin-left: 30px;
  margin-right: 30px;
  /* font-size: 16px; */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  line-height: 50px;
}
.membership-card {
  background: rgba(174, 219, 1, 0.02);
  padding: 2rem;
  padding-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.mbsp {
  line-height: 1.7;
}
.btn2 {
  border-radius: 10px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #98bd05;
  border: 2px solid white;
  font-size: 13px;
}
.contact {
  margin-left: 30px;
  line-height: 1.8;
  margin-bottom: 70px;
}

.main-message {
  display: flex;
  gap: 250px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.message {
  line-height: 1.6;
}
#name {
  padding: 15px;
  width: 100%;
  border: 1px solid rgb(215, 212, 212);
}
#Email {
  padding: 15px;
  width: 100%;
  border: 1px solid rgb(215, 212, 212);
}
#subject {
  padding: 15px;
  width: 100%;
  border: 1px solid rgb(215, 212, 212);
}
#message-box {
  width: 100%;
  border: 1px solid rgb(215, 212, 212);
}
footer {
  background-color: black;
  color: white;
  padding-top: 40px;
}
.footer {
  display: flex;
  gap: 250px;
  padding-bottom: 50px;
  margin-left: 30px;
}
